.text-big {
    font-size: 1.2em;
}

.bg-gray {
    background-color: #d1d1d1;
}

.text-white {
    color: #fff;
}

.text-white:hover {
    color: #000 !important;
}

.bg-white {
    background-color: #fff;
}

.footer {
    position: static;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    height: 2.5em;
}

a > img {
    height: 2rem;
}

a.d-flex {
    color: #000;
    text-decoration: none;
}

a.nav-item {
    cursor: pointer;
}

.links > div > a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 7rem;
    border: 1px solid black;
    margin: 1rem;
}

iframe {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 1%;
    padding: 1rem;
    border: 1px solid black;
    background-color: #d1d1d1;
}

li.dropdown-item {
    word-wrap: break-word;
}

.hidden {
    display: none;
}

.full-height {
    min-height: 86.7vh;
}


button.btn-switch {
    -webkit-box-shadow: 1rem 1rem 1rem -0.5rem rgba(0, 0, 0, 0.75);
    box-shadow: 1rem 1rem 1rem -0.5rem rgba(0, 0, 0, 0.75);
    border-radius: 0 1.1rem 0 1.1rem;
    background-image: -webkit-gradient(linear, left top, right top, from(#0b377a), color-stop(#005b97), color-stop(#007887), color-stop(#008f55), to(#709d0d));
    background-image: linear-gradient(to right, #0b377a, #005b97, #007887, #008f55, #709d0d);
    color: #fff;
}

iframe {
    display: block;
    height: 90vh;
    width: 100%;
}

a.lightbox {
    display: block;
    height: 18rem;
    width: 100%;
}

a.lightbox > img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

a.lightbox:hover{
    z-index: auto;
    opacity: 0.5;
}

.img-size1{
    width: 30rem;
    height: 20rem;
}

.img-size2{
    width: 20rem;
    height: 28rem;
}
    
.img-size3{
    width: 20rem;
    height: 15rem;
}

.img-size4{
    width: 26rem;
    height: 22rem;
}

.img-size5{
    width: 3rem;
    height: 3rem;
}
.text-size-1{
    font-size: 2rem;
}

.c-pointer{
    cursor: pointer !important;
}
    